<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <H1> Welcome to the Quiz</H1>
    <h2> <%= quote %></h2>
    <a href="/charmander/question1">Charmander</a>
    <!-- <a href="/question1">Squirtle</a>
    <a href="/question1">Bulbasaur</a> -->
</body>
</html>