<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <title>Document</title>
</head>
<body>

    <div class="container" id="home">
        <h1 id="title"> Pokemon adventure</h1>
        <h2> <%= quote %></h2>
        <h2> <%= message %></h2>
        <a class="options" href="/:pokemon/q3">Onto the next battle</a>
    </div>
    <div class="pokeImg">
        <img src="https://cdn.goodvinilos.com/4608/pokemon-charmander.jpg" alt="">
        <img src="https://samurai-gamers.com/wp-content/uploads/2016/11/Pokemon-Sun-Moon-Leveling-Up-Evolutions-300x235.png" alt="">
    </div>

</body>
</html>