<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <%= quote %>

<div>
    <a href="/wrong"> <%= choices[0]['o'] %> </a> <br>
    <a href="/:pokemon/question2"> <%= choices[1]['o'] %> </a> <br>
    <a href="/wrong"> <%= choices[2]['o'] %> </a> <br>
</div>

</body>
</html>