<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="container" id="home">
        <p><%= quote %></p>  <br>
        <p><%= message %></p> <br>
        <div class="opContainer">
            <a class="options" href="/:pokemon/question1">Grass Fields</a> <br>
            <a class="options" href="/:pokemon/question2">Forest</a>
        </div>
    </div>
    <div class="pokeImg">
        <img src="https://img.rankedboost.com/wp-content/uploads/2020/02/Pokemon-Mystery-Dungeon-Rescue-Team-DX-Weather-300x288.jpg" alt="">
        <img src="https://wallpapercave.com/wp/wp2711099.png" alt="">
    </div>
</body>
</html>