<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="container" id="home">
        <p><%= quote %></p> <br>
        <p><%= message %></p> <br>
        <div class="opContainer">
            <a class="options" href="/"> please play again </a> <br>
        </div>
    </div> 
    <br>
    <div class="pokeImg">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/71/DP-Brock.png" alt="">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSroMLZyvkhGfsOoTQqPrhx01Oe6TULkiv7zg&usqp=CAU" alt="">
    </div> 
    <div>
</div>
</body>
</html>