* {
    background-color: #F3950D;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

img {
    align-items: center;
    height: 250px;
    width: 250px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    
}

.options {
    margin-top: 10px;
    border: solid 1px black;
    border-radius: 2px;
    padding: 10px;
    background-color: #CD1818;
    text-decoration: none;
    font-weight: bold;
}

.opContainer {
    display: flex;
}

.pokeImg {
    display: flex;
    justify-content: space-between;
}

#home {
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 10px 5px 5px black;
    
}

#title {
    color: #0F2C67;
}